python-dotenv
pymongo
langchain
langchain_community
langchain_openai
langchain_mongodb
wikipedia  
langchain-deepseek
langchain-ollama
openai
langchain_experimental
json_repair
networkx
matplotlib
langchain-graph-retriever
graph_rag_example_helpers
transformers
sentence-transformers
langgraph